body{
    margin: 0;
    min-height: 100vh;          
    display: flex;
    justify-content: center;    
    align-items: center;  
}

.page{
  width: 90%;
  max-width: 1000px;
}

.layout{
    display: flex;
    align-items: center;
    gap: 80px;
}

.logo{
    width: 40px;
    height: auto;
    display: block;
}

.left{
    max-width: 520px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.left img{
    margin: 0px
}

.intro{
  margin: 0;
  font-size: 30px;
  line-height: 1.15;
  max-width: 520px;

}

.mockup{
  width: 450px;
  height: auto;
  display: block;
  max-width: 100%;
}


.right{
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.right p{
    text-align: center;
}

.right form{
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 20px;
  padding: 18px;
  width: 100%;
}

fieldset{
  border: 0;
  padding: 0;
  margin: 0 0 10px;
}

.right input[type="text"],
.right input[type="password"]{
  width: 100%;
  padding: 14px 12px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  background: #fafafa;
  outline: none;
  font-size: 14px;
}

.right input[type="text"]:focus,
.right input[type="password"]:focus{
  background: #fff;
  border-color: #bdbdbd;
}

.right input[type="submit"]{
  width: 100%;
  margin-top: 8px;
  padding: 12px 14px;
  border: 0;
  border-radius: 10px;
  background: #4cb5f9;        
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.right a{
  display: inline-block;
  margin: 12px 0 14px;
  font-size: 12px;
  color: #00376b;
  text-decoration: none;
}

.right button{
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}

.right .facebook{
  border: 1px solid #dbdbdb;
  background: #fff;
  color: #262626;
}

.right .new-acc{
  margin-top: 10px;
  border: 1px solid #4cb5f9;
  background: #fff;
  color: #4cb5f9;
}

.divider {
  height: 1px;
  background: #dadde1;
  margin: 16px 0;
}